n8n/Simple Chat.json
{
  "name": "Simple Chat",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "d9a2c4aa-b3ae-4220-b88b-10e65113a854",
      "name": "When chat message received",
      "webhookId": "13785f89-15cd-429e-8dc6-09f026e1a3c0"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        448,
        0
      ],
      "id": "daa0588a-66da-4e79-b11c-3885c7dd0cbd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        224
      ],
      "id": "55831910-c897-4b81-8ba9-78aba746f637",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WLLszDuvdtswwzVp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        608,
        224
      ],
      "id": "18831f0a-b0f6-4cba-a6a2-5f0272970a1b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "efa566f6-fb67-47fe-b760-811e743b9561",
              "name": "sessionId",
              "value": "={{ $ifEmpty($json.sessionId, $json.chatId) }}\n",
              "type": "string"
            },
            {
              "id": "af918b21-23ba-433b-a83a-b1c52ca04b65",
              "name": "chatInput",
              "value": "={{ $ifEmpty($json.chatInput, $json.message) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "ab82ba82-c7d1-4e43-b5bf-f619bc285900",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f9dd8e0f-53a5-4fc0-9392-2b798a391127",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "icGYmh2RnZcZvYAu",
  "tags": []
}